<div class="header">
  <div class="nav">
    <div class="container"> 
      <body background="http://stylonica.com/wp-content/uploads/2014/02/Free-Wallpaper-Nature-Scenes.jpg">
      <ul> <li style="color:white">Welcome</li>
        <li style="color:white"> Portfolio</li>
        <li style="color:white">Blog</li>
        <li style="color:white"> About</li>
        <li style="color:white">Contact</li> 
        <li style="color:white">Karthick Kumar</li>
      </ul> </div> </div>
  <div class="main"> 
    <div class="container">
      <p style="color:white"> Hello folks! Im always be Interdependable and an motivational.... </p> 
      <a class="btn" href="#">View my work</a> </div> </div> <div class="footer"> <div class="container"> <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a> 
  </div> <p>&copy; 2015 Atomic IT</p> </div> </div>